.windows {
  background-color: #D6D3CE;
  border: 3px solid;
  border-top-color: #FFFCF1;
  border-left-color: #FFFCF1;
  border-bottom-color: #6F6C6F ;
  border-right-color: #6F6C6F;
  font-family: "MS Sans-serif", sans-serif;
}


button:focus {
  outline: none;
}